{% extends "layout.html" %}
{% block content %}
<h1> Welcome to GroceryDirect! </h1>

{% if account_balance %}
<div style='color: darkred'>Account balance: ${{account_balance}}</div>
{% endif %}

{% if orders %}
<table>
    <tr>
        <th> Order ID </th>
        <th> Order Date </th>
        <th> Order Status </th>
        <th> Order cost </th>
    {% for order in orders %}
    <tr>
        <td> {{ order.get_id() }} </td>
        <td> {{ order.get_submission_date().date() if order.get_submission_date() else "Not submitted" }} </td>
        <td> {{ order.get_status() }} </td>
        <td> {{ order.get_total_cost() }} </td>
    <tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
